@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply scroll-smooth;
  }
}
body::-webkit-scrollbar {
  width: 0.62em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 0px rgba(211, 211, 211, 0.3);
  box-shadow: inset 0px 0px 0px rgba(211, 211, 211, 0.3);
  background-color: #2E3192;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(126, 126, 126, 0.3);
  box-shadow: inset 0 0 3px rgba(157, 157, 157, 0.3);
  background-color: rgb(255, 175, 175);
}
body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
